/* Since bootstrap has been employed, we have to use !important */
/* to overide the default settings from bootstrap to 'body' */

  .navbar {
    position: fixed;
    top: 0;
    left: 0 !important;
    margin: 0px !important;
    width: 100% !important;
    background: transparent;
    z-index: 1;
  }
  .nav-center {
    width: 100%;
  }
  .nav-header {
    display: flex;
    justify-content: space-between !important;
  }
  .nav-btn-small-screen {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: var(--secondaryColor)
  }
  .nav-btn-small-screen button{
    background: transparent;
    border: none;
    color: var(--secondaryColor);
    font-size: 1.2rem;
  }
  .nav-btn-small-screen button:focus {
    outline: none;
  }
  .nav-header button:focus {
    outline: none;
  }
  button:focus {
    outline: none;
    border:none
  }
  .nav-btn-big-screen{
    display: none;
  }
  .nav-icon {
    font-size: 1.5rem;
  }
  .nav-links {
    height: 0;
    overflow: hidden;
    transition: var(--mainTransition);
    transition-duration: 1.5s;
    list-style-type: none;
    color:var(--secondaryColor) !important;
    text-transform: capitalize !important;
    width: 100%;
    justify-content: center;
  }
  .nav-links a {
    display: block;
    text-decoration: none;
    padding: 1rem 1rem;
    color: var(--secondaryColor);
    transition: var(--mainTransition);
    text-align: right;
    transition-duration: 1s;
    @include standardFonts();
  }
  .nav-links a:hover {
    color: var(--lightAccentColor);
    text-decoration: none;
  }
  
  .show-nav {
    height: 100px;
    background: transparent;
    transition-duration: 2s;
  }
  @media screen and (min-width: 768px) {
    .navbar{
      padding: 0rem !important;
      width: auto !important;
      height: 8vh;
      margin-left: 50px !important;
      margin-right: 50px !important;
    }
    .nav-btn-small-screen {
      display: none;
    }
    .nav-btn-big-screen{
      display: inline-block;
      vertical-align: middle;
      background: transparent;
      border: none;
      cursor: pointer;
      outline: none;
  
      
    }
    .nav-btn-big-screen button{
      background: transparent;
      border: none;
      transition-duration: 1s ease;
      color: var(--secondaryColor);
      font-size: 1.2rem;
  
      // for backward-movement animation thingy
      -webkit-transform: perspective(1px) translateZ(0);
      transform: perspective(1px) translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      
    }
    .nav-btn-big-screen button:hover, .nav-btn-big-screen button:focus, .nav-btn-big-screen button:active{
      color: var(--lightAccentColor);
      -webkit-transform: translateX(-8px);
      transform: translateX(-8px);
    }
    .nav-btn-big-screen button:focus {
      outline: none;
    }
    .nav-center {
      max-width: auto;
      display: flex;
      vertical-align: middle;
    }
    .nav-links {
      height: auto;
      display: flex;
      padding: 0rem;
      margin: 0rem;
      font-size: 0.95em;
    }
    .nav-links a {
      margin: 0 1rem;
      padding: 0.5rem 0;
    }
  }
  /* end of navbar */